<h1>RxJS Overview</h1>

<h1>Продуктовая задача</h1>
<p [style.font-size.px]="18">Я как пользователь хочу искать продукты вводя символы в строку поиска.
  Я хочу обновить результат поиска продуктов, нажав на кнопку Refresh.
</p>
<strong>Критерии качества</strong>
<ol>
  <li>Оптравлять запрос на сервер через 500мс, как пользователь закончил ввод названия продукта в элемент поимка</li>
  <li>Если пользователь ввёл строку поиска, после удалил и сразу ввёл туже строку, то запрос на север не отправляется</li>
  <li>Пользователь кликну на кнопку Refresh, данные продуктов обновились в соотвествии с последним значением из элемента поиска</li>
  <li>Если поле поиска, то нажатие на кнопку Refresh не выполняет запрос на сервер</li>
</ol>

<button (click)="$event">sd</button>

<div class="examples">
  <app-imperative/>
  <app-reactive/>
</div>


